body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}

.container {
    background-color: rgb(68, 68, 68);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

button {
    background-color: #fdfdfd;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
}

#additionalText {
    margin-top: 20px;
}

.hidden {
    display: none;
}